.preview__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.preview__container {
  background: rgba(246, 224, 158, 0.95);
  border: 5px solid #8b4513;
  border-radius: 8px;
  padding: 20px;
  max-width: 500px;
  max-height: 90vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}
.preview__price-container {
  padding: 2%;
}

.preview__close {
  position: absolute;
  top: -5px;
  right: -10px;
  background: none;
  border-radius: 100%;
  width: 36px;
  height: 36px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.preview__image-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview__image {
  width: 100%;
  max-height: 500px;
  margin: 10px 0;
  object-fit: cover;
  border-radius: 8px;
}

.preview__icons {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  z-index: 2;
}

.preview__heart-icon {
  margin-left: auto;
}

.preview__heart-icon.liked {
  color: #8b4513;
}

.preview__heart-icon.unliked {
  color: white;
}

.preview__star-icon {
  /* margin-right: 15vw; */
}

.preview__star-icon,
.preview__heart-icon {
  font-size: 1.5rem;
  cursor: pointer;
  pointer-events: auto;
  /* margin-top: 5%; */
}

.preview__quantity-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.preview__actions {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.preview__button {
  padding: 10px 20px;
  background-color: #8b4513;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Media Queries */

@media screen and (min-width: 320px) and (max-width: 768px) {
  .preview__container {
    max-width: 60%;
    font-size: 0.8rem;
  }

  .preview__image {
    max-height: 300px;
  }

  .preview__icons {
    top: 10px;
    right: 5px;
    /* width: %; */
    padding: 5px;
  }

  @media screen and (max-width: 680px) {
    .preview__star-icon,
    .preview__heart-icon {
      font-size: 1.2rem;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .preview__container {
    max-width: 80%;
    height: 100%;
  }

  .preview__content {
    font-size: 0.5rem;
  }

  .preview__image-container {
    height: 60%;
  }

  .preview__image {
    height: 85%;
  }

  .preview__icons {
    /* top: 30px; */
    right: 5px;
  }
}

@media screen and (min-width: 1025px) {
  .preview__container {
    max-width: 35%;
    height: 90%;
    font-size: 1.2rem;
  }

  .preview__content {
    font-size: 0.8rem;
  }

  .preview__image {
    width: 60%;
  }

  .preview__image-container {
    height: 60%;
  }

  .preview__icons {
    top: 15%;
    right: 15px;
    width: auto;
  }

  .preview__star-icon {
    margin-left: 20%;
  }

  .preview__heart-icon {
    margin-right: 20%;
  }
}
