.footer {
  background: rgba(246, 224, 158, 0.95);

  border-top: 5px solid #8b4513;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  color: #8b4513;
  width: 100%;

  margin-top: auto;
  display: flex;
  align-items: center;
  position: relative;
  min-height: 100%;
  bottom: 0;
  left: 0;
  flex-shrink: 0;
}

.footer__text {
  padding: 5px;
  color: #8b4513;
  left: 5px;
  /* font-size: 5rem; */
}

/* Media Queries */

/* Mobile View */
@media screen and (min-width: 767px) {
  .footer {
    height: 10vh;

    padding: 0;
    position: relative;
  }

  .footer__text {
    font-size: 1rem;
  }
}

/* Tablet View */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer {
    max-height: 8vh;
  }

  .footer__text {
  }
}

@media screen and (min-width: 1025px) {
  .footer {
    height: 10vh;
    max-width: 100%;
    padding: 1%;
  }

  .footer__text {
    font-size: 200%;
  }
}
