.landing {
  position: relative;
  text-align: center;
  background: url('../../images/backgrounds/landing_background.webp') no-repeat
    center;
  background-size: 100%;
  width: 100%;
  min-height: 1280px;
  max-height: 2560px;
  height: 100vh;
  /* padding-top: 20px; */
  padding: 20px 0 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  color: #fff;
}

.landing__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.landing__title-container {
  position: relative;
  /* margin-top: -30px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.landing__nav {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.landing__nav-link {
  text-decoration: wavy;
  font-size: 35px;
  color: #fff;
  transition: color 0.3s ease;
}

.landing__title {
  font-size: 5rem;
  margin-bottom: 2rem;
  z-index: 11;
}

.landing__title-image {
  height: 160px;
  width: 300px;
  position: relative;
  /* top: -15px; */
  right: -10px;
}

.landing__subtitle {
  font-size: 2.5rem;
  color: #060606;
  text-shadow: #fff;
}

.landing__button-container {
  display: flex;
  top: 45px;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 100%;
  gap: 50px;
  height: auto;
  position: relative;
}
.landing__button {
  /* width: 850px; */
  /* height: 400px; */
  top: -5px;
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  transition: transform 0.3s ease;
  color: transparent;
  display: flex;
  justify-content: center;
  width: 100vh;
  height: 70vh;
  align-items: center;
  font-size: 0;
  transition:
    transform 0.3s ease,
    font-size 0.3s ease,
    color 0.3s ease;
}

.landing__button:hover {
  transform: scale(0.75);
  color: #8b4513;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.landing__button:focus-visible {
  outline: 2px solid rgba(255, 153, 0, 0.852);
  outline-offset: 4px;
}

.landing__button-register {
  background: url('../../images/buttons/plate_left-register.jpg') no-repeat
    center center;
  background-size: contain;
  right: 240px;
}

.landing__button-login {
  background: url('../../images/buttons/plate_right-log.jpg') no-repeat center
    center;
  background-size: contain;
  left: 150px;
}
