.landing {
  position: absolute;
  text-align: center;
  background: url('../../images/backgrounds/TM_landing-background.png')
    no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  color: #fff;
}

/* Title Container */
.landing__title-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 35%;
  left: 50%;
  transform: translateX(-45%);
  z-index: 10;
  width: 100%;
}

/* Subtitle */
.landing__subtitle {
  font-size: 8.5rem;
  color: #060606;
  text-shadow: 2px 2px 2px rgba(255, 153, 0, 0.852);
  display: block;
  top: 15px;
  z-index: 0;
}

/* Button Container */
.landing__button-container {
  display: flex;
  justify-content: space-around;
  gap: 10vw;
  align-items: center;
  min-width: 100%;
  max-width: 1600px;

  top: 18vh;
  position: relative;
  flex-wrap: wrap;
  height: auto;
  padding: 20px 0;
}

/* Buttons - Hidden by Default */
.landing__button {
  color: #8b4513;
  opacity: 0;
  width: 40%;
  min-height: 100%;
  height: 80vh;
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  font-weight: bold;
  transition:
    /* color 0.3s ease-in-out, */
    font-size 0.3s ease-in-out,
    opacity 0.1s ease-in-out,
    transform 0.3s ease;
}

.landing__button:hover {
  font-size: 5rem;
  transform: scale(1.1);
  font-size: scale(1.1);
}

/* Show Buttons ONLY when hovering */
.landing__button--login:hover,
.landing__button--register:hover {
  opacity: 1;
  visibility: visible;
}

/* Button Backgrounds */
.landing__button--register {
  background: url('../../images/buttons/plate_left-register.jpg') no-repeat
    center;
  background-size: contain;
}

.landing__button--login {
  background: url('../../images/buttons/plate_right-log.jpg') no-repeat center;
  background-size: contain;
}

/* Hover Effect Rotate Buttons */
.landing__button--register:hover {
  transform: rotate(2deg);
}

.landing__button--login:hover {
  transform: rotate(-2deg);
}

/* MOBILE BUTTON */
.landing__button--mobile {
  background: url('../../images/buttons/mobile_login.png') no-repeat center;
  background-size: contain;
  opacity: 0;
  border-radius: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(80px, 25vw, 200px); /* Mobile-specific width */
  height: auto;
}

/* Mobile Hover Effect */
.landing__button--mobile:hover {
  transform: translate(-50%, -50%) scale(1.2);
  filter: brightness(1.2);
}

/* Media Queries */

/* Mobile View 0-767px */
@media only screen and (width <= 680px) {
  .landing {
    height: 135vh;
    max-width: 680px;
    display: flex;
    width: 120%;
    background-size: unset;
  }

  .landing__title-container {
    width: 80%;
    transform: translateX(-45%);
    top: 35%;
  }
  .landing__subtitle {
    font-size: 1.2rem;
    color: #060606;
    text-shadow: 2px 2px 2px rgba(255, 153, 0, 0.852);
    display: block;
    top: 10px;
    z-index: 0;
  }

  .landing__button-container {
    display: flex;
    gap: 30vw;
    height: 40%;
    top: -6vh;
  }

  .landing__button--mobile {
    display: block;
    opacity: 1;
    top: 55vh;
    /* height: 100vh; */
    width: clamp(150px, 280vw, 280px);
  }

  .landing__button--mobile:hover {
    opacity: 1;
  }

  .landing__button--register,
  .landing__button--login {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .landing {
    height: 180vh;
  }

  .landing__title-container {
    top: 48%;
    width: 85%;
  }

  .landing__button-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 100%;
    gap: 17%;
    top: 15vh;
  }

  .landing__title-container {
    top: 35%;
  }

  .landing__subtitle {
    font-size: 1.5rem;
  }

  .landing__button {
    width: clamp(200px, 35%, 400px);
    border-radius: 20%;
    background-size: unset;
  }

  .landing__button:hover {
    font-size: 0.8rem;
    transform: scale(0.5rem);
  }

  .landing__button--register {
    left: -1vh;
  }
}

@media only screen and (min-width: 1025px) {
  .landing {
    /* max-width: 1800px; */
    height: 180vh;
  }

  .landing__title {
    font-size: 5rem;
  }
}

@media screen and (width >= 320px) and (width <= 480px) {
  .landing {
    width: 430px;
  }
}
