.card {
  border: 5px solid #8b4513;
  padding: 10px;
  display: flex;
  min-width: 100%;
  flex-direction: column;
  background-color: rgba(246, 224, 158, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
}

.card__image-container {
  position: relative;
  width: 100%;
  padding-top: 100%;
}

.card__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: transparent;
}

.card__quantity-input {
  width: 30px;
}

.card__featured-star {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.card__favorite-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.card__info {
  margin-top: 10px;
  text-align: center;
}

.card__price-per-quantity {
  margin-top: 5px;
  font-weight: bold;
  color: #8b4513;
}

/* Media Queries */

/* Mobile View */

@media screen and (width <= 680px) {
  .card {
    max-width: 300px;
    width: 50vw;
  }

  .card__tite {
    font-size: 1rem;
  }

  .card__info {
    font-size: 0.8rem;
  }

  /* .card__image {
    height: 65%;
    width: 75%;
  } */

  .card__favorite-btn {
    top: 0vh;
    right: 0vw;
  }

  .card__featured-star {
    top: 1.8vh;
    left: 1.5vw;
    width: 12%;
    height: 12%;
  }
  .products__category-bar {
    max-width: 90vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0;
  }
}
